.dot {
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 15px;
}

.hidden {
   display: inline-block;
}
.output .dot {
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 15px;
}
.layer {
    display: inline-block;
    margin: auto 50px;
}
.hidden .layer {
    margin-bottom: 80px;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
    background-color: #f5f5f5;
    color: #333;
}

nav, footer {
    background-color: #eaeaea;
    color: #333;
    padding: 10px 20px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#input-layer {
    margin: 30px auto;
}

.controls button {
    margin: 0 5px;
    padding: 8px 12px;
}

#myCanvas {
    cursor: crosshair;
    display: inline;
    border: solid 1px #ccc;
}
