.dot {
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 15px;
}

.hidden {
   display: inline-block; 
}
.output .dot {
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 15px;
}
.layer {
    display: inline-block;
    margin: auto 50px;
}
.hidden .layer {
    margin-bottom: 80px;
}



body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}

#input-layer {
    margin-bottom: 30px;
}

.controls button {
    margin: 0 5px;
    padding: 8px 12px;
}


#myCanvas {
	/* cursor: crosshair; */
    display: inline;
    border: solid 1px black
}