.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 15px;
}

.hidden {
   display: inline-block; 
}
.output .dot {
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 15px;
}
.layer {
    display: inline-block;
    margin: auto 50px;
}
.hidden .layer {
    margin-bottom: 80px;
}



body, html {
	height: 100%;
}


#myCanvas {
	cursor: crosshair;
    display: inline;
    border: solid 1px black
}